.login-root {
    margin-top: 30px;
    margin-bottom: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    flex: 0 0 50%;
}

.login-entries {
    text-align: right;
    width: 50%;
}

.to-register{
    text-align: left;
    width: 50%;
}
.login-entry {
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
}

.login-button{
    padding: 20px;
    margin-right:20%
}

.to-register-button {
    padding: 20px;
    margin-right:20%
}